/aula100_a_decimo_primeiro_digito_cpf.py
/aula100_b_verificador_cpf.py
/aula24_exercicio_variaveis.py
/aula29_operadores_aritmeticos_IMC.py
/aula38_condicional_e_comparacao_de_valores.py
/aula47_fstrings_fatimento.py
/aula54_enunciado1.py
/aula54_enunciado2.py
/aula54_enunciado3.py
/aula64_interando_strings_while.py
/aula66_calculadora_com_while.py
/aula70_contagem_letras_na_frase-while.py
/aula76_exercio_palavra_secreta.py
/aula86_exibir_indice_lista.py
/aula90_lista_de_compras.py
/aula98_decimo_digito_cpf.py
/testes.py
/aula113_funcao-_argumentos_nao_nomeados.py
aula117_criar_funcoes.py